cat << 'EOF' > .gitignore
# Python / Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
*.bak
.env*
!.env.example*
.venv/
env/
venv/
ENV/

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
*.iml
*.iws
*.ipr
.DS_Store
pubspec.lock
EOF